<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-2">
        <span class="text-secondary">
          中文店名：
        </span>
        {{restaurant.name}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          英文店名：
        </span>
        {{restaurant.name_en}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          餐廳類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          餐廳地址：
        </span>
        {{restaurant.location}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          餐廳地圖：
        </span>
        {{restaurant.google_map}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          餐廳電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          餐廳評分：
        </span>
        {{restaurant.rating}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          餐廳介紹：
        </span>
        {{restaurant.description}}"
      </p>

      <p class="mb-4">
        <span class="text-secondary">
          圖片：
        </span>
        {{restaurant.image}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}" style="max-width: 600px;">

      <div class="d-flex justify-content-end mb-5">
        <div class="mx-1">
          <a href="/restaurants/{{restaurant._id}}/edit" class="text-secondary">Edit</a>
          <a href="/" class="text-secondary">Home</a>
        </div>
        <form action="/restaurants/{{restaurant._id}}/delete" method="post" style="display: inline">
          <button type="submit" class="btn btn-danger px-1 py-0">Delete</button>
        </form>
      </div>
      

    </div>
  </div>
</div>